body {
  background-color: #fc3;
}

p, address {
  font-family:"proxima-nova",sans-serif;
}

main + section {
  display: none;
}

audio {
  width: 100%;
  margin: 0 auto;
}

a {
  color: #FEFEFE;
  font-family: "fatfrank",sans-serif;
}

i {
  font-size: 30px;
}



















input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
