/*
 * Foundation's off-canvas
 */
.off-canvas-wrapper-inner {
  min-height: 100vh;
}

.off-canvas.position-right {
  bottom: 0;
}

.off-canvas-content {
  background: #fc3;
  height: 100%;
  box-shadow: none;
}

.off-canvas {
  background: #41443E;
}

/*
 * Foundation's media object
 */
.media-object {
  border-top: 1px solid #fff;
  padding: 20px 0;
  margin-bottom: 0;
}

.media-object:first-child {
  border-top: none;
}

.media-object-section h1 {
  line-height: normal;
}

.media-object-section img,
.media-object-section p,
.media-object-section address {
  margin-bottom: 10px;
}

.media-object-section .rating-img {
  width: 111px;
  height: 20px;
}

.media-object-section p:last-child {
  margin-bottom: 0;
}

.media-object-section .googleMap {
  max-width: 100%;
}

.googleMapLink {
  display: block;
}

.media-object-section a {
  color: black;
}

@media screen and (max-width: 39.9375em) {
  .media-object.stack-for-small .media-object-section {
    padding-bottom: 0;
  }

  .media-object-section:last-child:not(:nth-child(2)) {
    padding-left: 0;
    margin-top: 20px;
}

  .media-object.stack-for-small .media-object-section img {
      width: auto;
  }

  .media-object.stack-for-small .media-object-section img.brewery-img {
    width: 100px;
  }
}

@media screen and (min-width: 40em) {
  .media-object h1 {
    font-size: 2rem;
  }
}

/*-----------Foundations Orbit Overide------------*/

.orbit-next:active, .orbit-next:focus, .orbit-next:hover, .orbit-previous:active, .orbit-previous:focus, .orbit-previous:hover  {
  background-color:#fc3;
}

.orbit-next{
  font-size:50px;
  color:black;
  padding-right:0px;
  padding-left:0px;
}

.orbit-previous {
  font-size:50px;
  color:black;
  padding-right:0px;
  padding-left:0px;
}

.slider-handle {
  background-color:black;
}

.slider-handle:hover{
 background-color: black;
}


#bacSubmit {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: none;
  font-family: "fatfrank",sans-serif;
  font-size: 1rem;
  background: black;
  box-shadow: 0 8px 0 rgba(38, 38, 38,0.7),
    0 15px 20px rgba(0,0,0,.35);
  text-transform: uppercase;
  transition: .4s all ease-in;
  outline: none;
  text-align: center;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#bacSubmit span {
   position: relative;
   color:#F6C534;
 }

.pressed {
  padding-top: 3px;
  transform: translateY(4px);
  box-shadow: 0 4px 0 rgb(38, 38, 38),
    0 8px 6px rgba(0,0,0,.45)!important;
}

.orbit-container{
  outline-style:none;
  min-height:300px;
}

.boxwidth{
  min-width:100px;
}

.padding-bottom{
  padding-bottom:150px;
}

.button {
   background-color: #41443E;
   font-family: "fatfrank",sans-serif;
 }

 .fontoverride {
   font-family:"proxima-nova",sans-serif;
 }
