/*.fullBackgroundImage:before {
  background-image: url('/img/beerhome.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: contrast(0.9) brightness(0.5);
  filter: contrast(0.9) brightness(0.5);
  z-index: -1;
}*/

body {
  background-color: #fc3;
}

.off-canvas-content {
  background: #fc3;
  height: 100%;
}

.off-canvas {
  background: black;
}

/*.off-canvas-nav {
  position: relative;
}

.off-canvas-nav > ul {
  position: absolute;;
  background: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}*/
