/*.fullBackgroundImage:before {
  background-image: url('/img/beerhome.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: contrast(0.9) brightness(0.5);
  filter: contrast(0.9) brightness(0.5);
  z-index: -1;
}*/

body {
  background-color: #fc3;
}

.off-canvas-content {
  background: #fc3;
  height: 100%;
  box-shadow: none;
}

.off-canvas {
  background: #41443E;
}

p, address{
  font-family:"proxima-nova",sans-serif;
}

.aboutDescription {
  padding: 10px;
  margin: 20px;
}

.aboutUs {
  padding: 10px;
  display: flex;
}

.dawgs {
  /*width: 50%;*/
  margin: 10px auto;
}
 .button {
   background-color: #41443E;
   font-family: "fatfrank",sans-serif;
 }

 a {
   color: #FEFEFE;
   font-family: "fatfrank",sans-serif;
 }

 i {
   font-size: 30px;
 }

 .orbit-next{
   font-size:50px;
   color:black;
 }

 .orbit-previous {
   font-size:50px;
   color:black;
 }

 .slider-handle {
   background-color:black;
 }


.slider-handle:hover{
  background-color: black;
}

@media screen and (max-width: 63.9375em) {
  .aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .dawgs {
    max-width: 100%;
    padding: 20px 150px 20px 150px;
  }
}
